body, html{
  height:100%;
}
body{
  background-repeat: no-repeat;
  margin: 0px;
  background-image: url('bg3.jpg');
  font-size: 18px;
  background-position: center;
  overflow: hidden  ;
  background-size:cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: transparent;

}
.title{
  background-color: transparent;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}